* {
    padding: 0;
    margin: 0;
}

.navbar-top {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    color: black;
}

.icons i {
    margin-left: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}

.icons i:hover {
    background-color: rgba(238, 224, 208);
    border-radius: 50px;
}

@media screen and (max-width:400px) {
    .icons i {
        width: 20px;
    }
}

.logo h3 {
    font-weight: 40px;
}

@media screen and (max-width:400px) {
    .logo h3 {
        font-size: 20px;
    }
}

.icons i img {
    margin-left: 10px;
    cursor: pointer;
}

@media screen and (max-width:400px) {
    .icons i img {
        width: 20px;
    }
}

.main-content {
    width: 100%;
    height: 100vh;
    background-image: url('/static/images/background2.jpg');
    background-size: cover;
    background-position: 70%;
}

#navbar-color {
    background-color: orange;
}

.navbar-nav {
    margin: auto;
    height: 50px;
    align-items: center;
}

#nav-link {
    margin-left: 30px;
    font-weight: bold;
    color: black;
    transition: 0.5s ease;
    cursor: pointer;
    text-decoration: none;
}

#nav-link:hover {
    color: green;
}


/*Home  */


/* service we offer */

.content {
    margin-top: 150px;
    margin-left: 60px;
}

.content h1 {
    font-size: 50px;
    color: whitesmoke;
    text-align: left;
}

@media screen and (max-width:420px) {
    .content h1 {
        font-size: 30px;
    }
}

.btn1 button {
    width: 200px;
    height: 40px;
    background: transparent;
    letter-spacing: 5px;
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;
}

.btn1 button a {
    text-decoration: none;
    color: black;
}

.btn1 button:hover {
    background-color: green;
}

.content p {
    color: white;
}

#btn2 button {
    width: 100px;
    height: 40px;
    background: transparent;
    transition: 0.5s ease;
    cursor: pointer;
}

#btn2 button:hover {
    background-color: rgba(238, 224, 208);
}

#btn2 button a {
    text-decoration: none;
    color: black;
}

.btn2 button a {
    text-decoration: none;
    color: black;
}


/* service we offer */


/* tredly product */

#tpc {
    box-shadow: 0 0 5px black;
    transition: 0.5s ease;
    cursor: pointer;
}

#tpc:hover {
    transform: translateY(-10px);
    background-color: rgba(238, 224, 208);
}

#c p {
    font-weight: bold;
}

#btn3 {
    text-align: center;
}

#btn3 button {
    width: 150px;
    height: 40px;
    background: transparent;
    transition: 0.5s sec;
    cursor: pointer;
}

#btn3 button:hover {
    background-color: rgba(238, 224, 208);
}

#btn3 button a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width:895px) {
    #btn3 button {
        width: 100px;
    }
}


/* tredly product */


/* about */

.btn4 button {
    width: 200px;
    height: 40px;
    background: transparent;
    letter-spacing: 5px;
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;
}

.btn4 button:hover {
    background-color: rgba(238, 224, 208);
}

.btn4 button a {
    text-decoration: none;
    color: black;
}


/* about */


/*footer  */

#footer {
    width: 100%;
    background-color: black;
    margin-top: 10px;
}

#footer h1 {
    color: white;
    padding-top: 30px;
}

#footer p {
    color: white;
}

.icons i {
    color: rgba(238, 224, 208);
    font-size: 30px;
    cursor: pointer;
}

.credite {
    color: white;
}

.copyright {
    color: white;
    margin-top: 20px;
}


/* footer */


/* contact */


/* contact */


/* messages */

iframe {
    justify-content: center;
    display: flex;
}

h1 {
    text-align: center;
    font-weight: bold;
}

.rating {
    width: 208px;
    height: 50px;
    margin: 0 auto;
    background: #f9f9f9;
}

.rating label {
    float: right;
    position: relative;
    width: 40px;
    height: 50px;
    cursor: pointer;
}

.rating label:not(:first-of-type) {
    padding-right: 2px;
}

.rating label:before {
    content: "\2605";
    font-size: 50px;
    color: teal;
    line-height: 1;
}

.rating input {
    display: none;
}

.rating input:checked~label:before,
.rating:not(:checked)>label:hover:before,
.rating:not(:checked)>label:hover~label:before {
 color: orangered;
}
