* {
    padding: 0;
    margin: 0;
}

.navbar-top {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
    justify-content: space-between;
}

.icons i {
    margin-left: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}

.icons i:hover {
    background-color: rgba(238, 224, 208);
    border-radius: 50px;
}

@media screen and (max-width:400px) {
    .icons i {
        width: 20px;
    }
}

.logo h3 {
    font-weight: 40px;
}

@media screen and (max-width:400px) {
    .logo h3 {
        font-size: 20px;
    }
}

.icons i img {
    margin-left: 10px;
    cursor: pointer;
}

@media screen and (max-width:400px) {
    .icons i img {
        width: 20px;
    }
}

.main-content {
    width: 100%;
    height: 90vh;
    background-image: url(background2.jpg);
    background-size: cover;
    background-position: 70%;
}

#navbar-color {
    background-color: orange;
}

.navbar-nav {
    margin: auto;
}

#nav-link {
    margin-left: 30px;
    font-weight: bold;
    color: black;
    transition: 0.5s ease;
    cursor: pointer;
    text-decoration: none;
}

#nav-link:hover {
    color: green;
}


/*Home  */


/* service we offer */

.content {
    margin-top: 150px;
    margin-left: 60px;
}

.content h1 {
    font-size: 50px;
    color: whitesmoke;
}

@media screen and (max-width:420px) {
    .content h1 {
        font-size: 30px;
    }
}

.btn1 button {
    width: 200px;
    height: 40px;
    background: transparent;
    letter-spacing: 5px;
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;
}

.btn1 button a {
    text-decoration: none;
    color: black;
}

.btn1 button:hover {
    background-color: green;
}

.content p {
    color: white;
}

#btn2 button {
    width: 100px;
    height: 40px;
    background: transparent;
    border: 1px solid black;
    transition: 0.5s ease;
    cursor: pointer;
}

#btn2 button:hover {
    background-color: rgba(238, 224, 208);
}

#btn2 button a {
    text-decoration: none;
    color: black;
}

.btn2 button a {
    text-decoration: none;
    color: black;
}


/* service we offer */


/* tredly product */

#tpc {
    box-shadow: 0 0 5px black;
    transition: 0.5s ease;
    cursor: pointer;
}

#tpc:hover {
    transform: translateY(-10px);
    background-color: rgba(238, 224, 208);
}

#c p {
    font-weight: bold;
}

#btn3 {
    text-align: center;
}

#btn3 button {
    width: 150px;
    height: 40px;
    background: transparent;
    border: 1px solid black;
    transition: 0.5s sec;
    cursor: pointer;
}

#btn3 button:hover {
    background-color: rgba(238, 224, 208);
}

#btn3 button a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width:895px) {
    #btn3 button {
        width: 100px;
    }
}


/* tredly product */


/* about */

.btn4 button {
    width: 200px;
    height: 40px;
    background: transparent;
    border: 3px solid black;
    letter-spacing: 5px;
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;
}

.btn4 button:hover {
    background-color: rgba(238, 224, 208);
}

.btn4 button a {
    text-decoration: none;
    color: black;
}


/* about */


/*footer  */

#footer {
    width: 100%;
    background-color: black;
    margin-top: 10px;
}

#footer h1 {
    color: white;
    padding-top: 30px;
}

#footer p {
    color: white;
}

.icons i {
    color: rgba(238, 224, 208);
    font-size: 30px;
    cursor: pointer;
}

.credite {
    color: white;
}

.copyright {
    color: white;
    margin-top: 20px;
}


/* footer */


/* contact */

label {
    width: 150px;
    font-weight: bold;
}

form {
    border-radius: 10px;
    background: gray;
    color: black;
    margin-left: 370px;
    margin-right: 370px;
    padding: 20px;
    opacity: 70%;
}

button {
    padding: 8px;
    width: 95px;
    border-radius: 50px;
}

button:hover {
    background-color: rgba(238, 224, 208);
}

button a {
    text-decoration: none;
    color: black;
}


/* contact */


/* messages */

iframe {
    justify-content: center;
    display: flex;
}

.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    margin-left: 450px;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateX(180deg);
}

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front {
    background-color: #bbb;
    color: black;
}

.flip-box-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateX(180deg);
}

h2 {
    text-align: center;
    font-weight: bold;
}

#specifyColor {
    accent-color: red;
}