* {
    padding: 0;
    margin: 0;
}

.sidebar {
    flex: 1;
    background-color: white;
    padding: 10px;
}

.logo {
    font-weight: 800;
    font-size: 30px;
    text-transform: uppercase;
    color: black;
    margin-bottom: 10px;
    text-align: center;
}

.sidebar input[type="text"] {
    padding: 5px 5px;
    outline: none;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid black;
    margin-top: 40px;
}

.sidebar h3 {
    font-weight: 600;
    margin-bottom: 10px;
    color: black;
}

.sidebar ul {
    list-style: none;
    color: black;
}

.sidebar ul li {
    margin: 5px 0;
    padding-left: 5px;
    cursor: pointer;
    color: black;
}

.sidebar ul li:hover {
    background-color: gray;
}

.content {
    flex: 4;
    margin: 20px;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    cursor: pointer;
}

.product {
    width: 250px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: hidden;
    border: 1px solid black;
    background: lightgray;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 50px;
    margin-right: 50px;
}

.product .img {
    flex: 1;
}

.product .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.5s;
    transform: scale(0.75);
}

.product:hover img {
    transform: scale(1);
    border: 1px solid black;
}

.product .product-details {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-details span:nth-child(1) {
    color: black;
    font-weight: 600;
}

.product-details span:nth-child(2) {
    color: black;
    font-weight: 600;
}

.product-details span:nth-child(3) {
    font-size: 11px;
    font-weight: 600;
    color: black;
}