@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: white;
}
.container {
  background-color:white;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 200px;
  min-height: 1000px;
  display: flex;
}

.sidebar {
  flex: 1;
  background-color: black;
  padding: 10px;
}
.logo {
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  color:white;
  margin-bottom: 10px;
}
.sidebar input[type="text"] {
  padding: 5px 5px;
  outline: none;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid red;

}
.sidebar h3 {
  font-weight: 600;
  margin-bottom: 10px;
  color:white;
}
.sidebar ul {
  list-style: none;
  color: white;
}
.sidebar ul li {
  margin: 5px 0;
  padding-left: 5px;
  cursor: pointer;
  color: white;
}
.sidebar ul li:hover {
  background-color: #dcdde1;
}
.content {
  flex: 4;
  border: 10px solid black;
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
  cursor: pointer;
  
}
.product {
  width: 250px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;
  border: 1px solid black;
  background: white;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 50px;
  margin-right: 50px;
}

.product .img {
  flex: 1;
}
.product .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.5s;
  transform: scale(0.75);
}
.product:hover img {
  transform: scale(1);
  border: 1px solid black;
}
.product .product-details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-details span:nth-child(1) {
  color:black;
  font-weight: 600;
}

.product-details span:nth-child(2) {
  color: black;
  font-weight: 600;
}

.product-details span:nth-child(3) {
  font-size: 11px;
  font-weight: 600;
  color:black;
}