.testimonials-container {
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(235, 235, 235, 0.5);
  }
  
  h2 {
    margin: 0.5rem;
    font-size: 2.2rem;
    font-weight: 400;
  
  }
  
  .testimonial {
    height: 50vh;
    width: 80vw;
    margin: 2rem;
    padding: 45px 20px 20px;
    background: teal;
    border-top: 4px solid yellow;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    animation: fade 2s;
  }
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
  .testimonial img {
    height: 2rem;
    width:100px;
    height: 100px;
    margin-bottom: 1.5rem;
  }
  
  .testimonial p {
    overflow: auto;
    font-style: oblique;
    font-size: 19px;
    font-weight: 400;
    color: white;
    
  }
  
  p span {
    font-size: 25px;
    font-style: bold;
    color:black;
  }
  
  .numbertext {
    font-size: 15px;
    opacity: 0.7;
    margin-top: 1.5rem;
  }
  
  .prev,
  .next {
    display: inline-block;
    background: #fff;
    box-shadow: 0 2px 4px 1px rgba(50, 50, 93, 0.1);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(0, 184, 190);
    transition: 0.3s ease;
  }
  
  .prev:hover,
  .next:hover {
    cursor: pointer;
    transform: translateY(-4px);
  }