<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Furniture</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/furniture.css') }}">
    <style>
      .card-img-top{
        height:300px;
    }
    
    .card-no-border .card {
        border-color: #d7dfe3;
        border-radius: 4px;
        margin-bottom: 30px;
        -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
    }
    
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem
    }
    
    .pro-img {
        margin-top: -80px;
        margin-bottom: 20px
    }
    
    .little-profile .pro-img img {
        width: 128px;
        height: 128px;
        -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        border-radius: 100%
    }
    
    html body .m-b-0 {
        margin-bottom: 0px
    }
    
    h3 {
        line-height: 30px;
        font-size: 21px
    }
    
    .btn-rounded.btn-md {
        padding: 12px 35px;
        font-size: 16px
    }
    
    html body .m-t-10 {
        margin-top: 10px
    }
    
    .btn-primary,
    .btn-primary.disabled {
        background: #7460ee;
        border: 1px solid #7460ee;
        -webkit-box-shadow: 0 2px 2px 0 rgba(116, 96, 238, 0.14), 0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
        box-shadow: 0 2px 2px 0 rgba(116, 96, 238, 0.14), 0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
        -webkit-transition: 0.2s ease-in;
        -o-transition: 0.2s ease-in;
        transition: 0.2s ease-in
    }
    
    .btn-rounded {
        border-radius: 60px;
        padding: 7px 18px
    }
    
    .m-t-20 {
        margin-top: 20px
    }
    
    .text-center {
        text-align: center !important
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #455a64;
        font-family: "Poppins", sans-serif;
        font-weight: 400
    }
    
    p {
        margin-top: 0;
        margin-bottom: 1rem
    }
  </style>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <!-- bootstrap -->
<!-- icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
   <!-- icons -->
  </head>
  <body>
    <nav class="navbar navbar-expand-md " id="navbar-color" style="background-color:orange;">
        <div class="container">
        
      
        <!-- Toggler/collapsibe Button -->
        
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a id="nav-link" href="/home" >Home</a>
            </li>
            <li class="nav-item">
              <a id="nav-link" href="/service" > Service WE Offer</a>
            </li>

            <li class="nav-item">
              <a id="nav-link" href="/about">About</a>
            </li>
            
             
            <li class="nav-item">
                <a id="nav-link" href="/location" >Location</a>
            </li>
            
            <li class="nav-iteam">
              <a id="nav-link" href="/help">Help</a>
            </li>
          </ul>
        </div>
      </div>
      </nav>
      <!-- about -->
  <section id="demo4">
    <div class="container">
      <h1 class="text-center" style="margin-top: 40px;">ABOUT</h1>
      <div class="row" style="margin-top: 50px;">
        <div class="col-md-6 py-3 py-md-0">
          <div class="card">
            <img src="{{url_for('static', filename='images/about.jpg')}}"  />
          </div>
        </div>
        <div class="col-md-6 py-3 py-md-0 text-justify; text-justify" >
          <p>Furniture refers to movable objects intended to support various human activities such as seating (e.g., stools, chairs, and sofas), eating (tables), storing items, eating and/or working with an item, and sleeping (e.g., beds and hammocks). Furniture is also used to hold objects at a convenient height for work (as horizontal surfaces above the ground, such as tables and desks), or to store things (e.g., cupboards, shelves, and drawers). Furniture can be a product of design and can be considered a form of decorative art. In addition to furniture's functional role, it can serve a symbolic or religious purpose. It can be made from a vast multitude of materials, including metal, plastic, and wood. Furniture can be made using a variety of woodworking joints which often reflects the local culture.
    
            People have been using natural objects, such as tree stumps, rocks and moss, as furniture since the beginning of human civilization and continues today in some households/campsites. Archaeological research shows that from around 30,000 years ago, people started to construct and carve their own furniture, using wood, stone, and animal bones. Early furniture from this period is known from artwork such as a Venus figurine found in Russia, depicting the goddess on a throne. The first surviving extant furniture is in the homes of Skara Brae in Scotland, and includes cupboards, dressers and beds all constructed from stone. Complex construction techniques such as joinery began in the early dynastic period of ancient Egypt. This era saw constructed wooden pieces, including stools and tables, sometimes decorated with valuable metals or ivory. The evolution of furniture design continued in ancient Greece and ancient Rome, with thrones being commonplace as well as the klinai, multipurpose couches used for relaxing, eating, and sleeping.</p>
          <div class="btn4"><button>  <a href="https://www.google.com/search?q=About++furniture&source=lmns&hl=kn&sa=X&ved=2ahUKEwi41K7C1an-AhUW53MBHVooAaoQ_AUoAHoECAEQAA">Read More...</a></button></div>
        </div>
      </div>
    </div>
    <br><br>
    <div class="container" >
    <div class="padding">
      <div class="col-md-5" style="margin-left: 400px;">
          <!-- Column -->
          <div class="card"> <img src="{{url_for('static', filename='images/card5.png')}}"  />
              <div class="card-body little-profile text-center">
                  <div class="pro-img"><img src="{{url_for('static', filename='images/WhatsApp Image 2023-06-22 at 9.32.31 PM.jpeg')}}"  /></div>
                  <h3 class="m-b-0">Furniture Store </h3>
                  <p>Best Quality &amp; Good Service</p> <a href="javascript:void(0)" class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded" data-abc="true">Follow</a>
                  <div class="row text-center m-t-20">
                      <div class="col-lg-4 col-md-4 m-t-20">
                          <h3 class="m-b-0 font-light">10434</h3><small>Photos</small>
                      </div>
                      <div class="col-lg-4 col-md-4 m-t-20">
                          <h3 class="m-b-0 font-light">434K</h3><small>Followers</small>
                      </div>
                      <div class="col-lg-4 col-md-4 m-t-20">
                          <h3 class="m-b-0 font-light">500</h3><small>Following</small>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
    <div class="container" style="margin-top: 60px;">
      <div class="row">
        <div class="col">
      <iframe width="500" height="315" src="https://www.youtube.com/embed/Og_OJhN7UdQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="col">
      <iframe width="500" height="315" src="https://www.youtube.com/embed/rCcQeM5oLNw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    </div>
    </div> 
    <!-- about -->
      <div class="container">
        <div class="whatsapp">
          <a href="https://web.whatsapp.com/" style="color: blueviolet;font-size: 60px; position: fixed;bottom: 5px;right: 5px;"><i class="fab fa-whatsapp"></i></a>
        </div>
      </div>
      
    </body>
</html>  
