{% extends 'header.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Furniture</title>
    <link rel="stylesheet" href="/static/css/contact.css">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
            integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
            integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
            crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <!-- icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- icons -->

</head>
<body>
        <div class="main-content">
            <h1 style="text-align:center">New Product</h1>
            <div class="container" style="margin-top: 60px;">
                <div class="row">
                    <div class="col">
                        <img src="{{url_for('static', filename='images/1.jpg')}}"  width="500px"/>
                    </div>
                    <div class="col">
                        <form id="contact" action="/addproduct"
                              method="POST" style="margin-top: 10px;"
                        enctype="multipart/form-data">
                            
                            </h4>
                            <fieldset>
                                            <h4>{{ msg }}</h4>
                            </fieldset>
                            <fieldset>
                                <input placeholder="Product Name" type="text" tabindex="1"
                                       name="pname" required style="width:300px"
                                       /><br><br>
                            </fieldset>
                            <fieldset>
                                <select style="width:300px" name="ptype">
                                    <option>Chair</option>
                                    <option>Sofa</option>
                                    <option>Daining table</option>
                                    <option>Hanging Chair</option>

                                </select>
                                <br><br>
                            </fieldset>
                            <fieldset>
                                <input placeholder="Quantity" type="text"
                                       required style="width:300px;"
                                       name="qty" maxlength="4"
                                       pattern="^[0-9]{1,4}$"
                                /><br><br>
                            </fieldset>
                            <fieldset>
                                <input placeholder="Price" type="text"
                                       required style="width:300px;"
                                       name="price" maxlength="7"
                                      />
                                <br><br>
                            </fieldset>
                            <fieldset>
                                <input type="file"
                                       required style="width:300px;"
                                       name="file"/>
                                <br><br>
                            </fieldset>
                            <fieldset>
                                <input type="submit" value="submit Product">
                            </fieldset>

                        </form>
                    </div>
                </div>
            </div>
</body>
</html>
{% endblock %}
