<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cart</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>

</head>
<body>
  <header>
    <div class="nav">

      <a href="#" class="logo">
        <ion-icon name="FUR"></ion-icon>
        B__E__S__T
      </a>



      <div class="box">
        <div class="cart-count">0</div>
        <ion-icon name="cart"  id="cart-icon" ></ion-icon>
      </div>

      <div class="cart">
        <div class="cart-title">Cart Items</div>
        <div class="cart-content">
<!--
          <div class="cart-box">
            <img src="images/97.jpg" class="cart-img">
            <div class="detail-box">
              <div class="cart-food-title">Special Dosai</div>
              <div class="price-box">
                <div class="cart-price">Rs.72</div>
                 <div class="cart-amt">Rs.72</div>
             </div>
              <input type="number" value="1" class="cart-quantity">
            </div>
            <ion-icon name="trash" class="cart-remove"></ion-icon>
          </div>

          <div class="cart-box">
            <img src="images/97.jpg" class="cart-img">
            <div class="detail-box">
              <div class="cart-food-title">Special Dosai</div>
              <div class="price-box">
                <div class="cart-price">Rs.72</div>
                 <div class="cart-amt">Rs.72</div>
             </div>
              <input type="number" value="1" class="cart-quantity">
            </div>
            <ion-icon name="trash" class="cart-remove"></ion-icon>
          </div>
        -->
        </div>

      <div class="total">
        <div class="total-title">Total</div>
        <div class="total-price">Rs.0</div>
      </div>

      <button class="btn-buy"><a href=" "onclick = "fun();" style="text-decoration:none;color:black;">Place Holder</a></button>

      <ion-icon name="close" id="cart-close"></ion-icon>

      </div>
    </div>
  </header>
  <div class="container">

    <div class="shop-content">


      <div class="fur-box">
        <div class="pic">
          <img src="{{url_for('static', filename='images/sofa1.jpg')}}"  class="fur-img" height="200px"/>
        </div>
        <h2 class="fur-title">Chesterfield</h2>
        <span class="fur-price">Rs.3000</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>


      <div class="fur-box">
        <div class="pic"><img src="{{url_for('static', filename='images/sofa2.webp')}}"  class="fur-img"/></div>
        <h2 class="fur-title">Lawson</h2>
        <span class="fur-price">Rs.36500</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>

      <div class="fur-box">
        <div class="pic"><img src="{{url_for('static', filename='images/sofa3.webp')}}"  class="fur-img" height="200px"/></div>
        <h2 class="fur-title">Tuxedo</h2>
        <span class="fur-price">Rs.40000</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>

      <div class="fur-box">
        <div class="pic"><img src="{{url_for('static', filename='images/sofa4.jpg')}}"  class="fur-img" height="200px"/></div>
        <h2 class="fur-title">Midcentury</h2>
        <span class="fur-price">Rs.25000</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>

      <div class="fur-box">
        <div class="pic"><img src="{{url_for('static', filename='images/sofa5.jpg')}}"  class="fur-img" height="200px"/></div>
        <h2 class="fur-title">Sectional</h2>
        <span class="fur-price">Rs.30000</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>

      <div class="fur-box">
        <div class="pic"><img src="{{url_for('static', filename='images/sofa6.webp')}}"  class="fur-img" height="200px"/></div>
        <h2 class="fur-title">Modular</h2>
        <span class="fur-price">Rs.29000</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>


      <div class="fur-box">
        <div class="pic"><img src="{{url_for('static', filename='images/sofa7.webp')}}"  class="fur-img" height="200px"/></div>
        <h2 class="fur-title">Jackson-Caramel</h2>
        <span class="fur-price">Rs.36500</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>


      <div class="fur-box">
        <div class="pic"><img src="{{url_for('static', filename='images/sofa8.webp')}}"  class="fur-img" height="200px"/></div>
        <h2 class="fur-title">Kendal</h2>
        <span class="fur-price">Rs.42500</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>





    </div>
  </div>
<script >
  const btnCart=document.querySelector('#cart-icon');
const cart=document.querySelector('.cart');
const btnClose=document.querySelector('#cart-close');

btnCart.addEventListener('click',()=>{
  cart.classList.add('cart-active');
});

btnClose.addEventListener('click',()=>{
  cart.classList.remove('cart-active');
});

document.addEventListener('DOMContentLoaded',loadFood);

function loadFood(){
  loadContent();

}

function loadContent(){
  //Remove Food Items  From Cart
  let btnRemove=document.querySelectorAll('.cart-remove');
  btnRemove.forEach((btn)=>{
    btn.addEventListener('click',removeItem);
  });

  //Product Item Change Event
  let qtyElements=document.querySelectorAll('.cart-quantity');
  qtyElements.forEach((input)=>{
    input.addEventListener('change',changeQty);
  });

  //Product Cart

  let cartBtns=document.querySelectorAll('.add-cart');
  cartBtns.forEach((btn)=>{
    btn.addEventListener('click',addCart);
  });

  updateTotal();
}


//Remove Item
function removeItem(){
  if(confirm('Are Your Sure to Remove')){
    let title=this.parentElement.querySelector('.cart-food-title').innerHTML;
    itemList=itemList.filter(el=>el.title!=title);
    this.parentElement.remove();
    loadContent();
  }
}

//Change Quantity
function changeQty(){
  if(isNaN(this.value) || this.value<1){
    this.value=1;
  }
  loadContent();
}

let itemList=[];

//Add Cart
function addCart(){
 let food=this.parentElement;
 let title=food.querySelector('.fur-title').innerHTML;
 let price=food.querySelector('.fur-price').innerHTML;
 let imgSrc=food.querySelector('.fur-img').src;
 //console.log(title,price,imgSrc);

 let newProduct={title,price,imgSrc}

 //Check Product already Exist in Cart
 if(itemList.find((el)=>el.title==newProduct.title)){
  alert("Product Already added in Cart");
  return;
 }else{
  itemList.push(newProduct);
 }


let newProductElement= createCartProduct(title,price,imgSrc);
let element=document.createElement('div');
element.innerHTML=newProductElement;
let cartBasket=document.querySelector('.cart-content');
cartBasket.append(element);
loadContent();
}


function createCartProduct(title,price,imgSrc){

  return `
  <div class="cart-box">
  <img src="${imgSrc}" class="cart-img">
  <div class="detail-box">
    <div class="cart-fur-title">${title}</div>
    <div class="price-box">
      <div class="cart-price">${price}</div>
       <div class="cart-amt">${price}</div>
   </div>
    <input type="number" value="1" class="cart-quantity">
  </div>
  <ion-icon name="trash" class="cart-remove"></ion-icon>
</div>
  `;
}

function updateTotal()
{
  const cartItems=document.querySelectorAll('.cart-box');
  const totalValue=document.querySelector('.total-price');

  let total=0;

  cartItems.forEach(product=>{
    let priceElement=product.querySelector('.cart-price');
    let price=parseFloat(priceElement.innerHTML.replace("Rs.",""));
    let qty=product.querySelector('.cart-quantity').value;
    total+=(price*qty);
    product.querySelector('.cart-amt').innerText="Rs."+(price*qty);

  });

  totalValue.innerHTML='Rs.'+total;


  // Add Product Count in Cart Icon

  const cartCount=document.querySelector('.cart-count');
  let count=itemList.length;
  cartCount.innerHTML=count;

  if(count==0){
    cartCount.style.display='none';
  }else{
    cartCount.style.display='block';
  }


}

</script>
 <script type = "text/javascript">
            function fun() {


               alert ("Your Order Successfully Done");
            }
      </script>
</body>
</html>
