{% extends 'customerheader.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Furniture</title>
    <link rel="stylesheet" href="/static/css/contact.css">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
            integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
            integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
            crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <!-- icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- icons -->

    <script type="text/javascript">
        function calcTotal()
        {
        //alert('hi');
        var qty = parseInt(document.getElementById('qty').value);
        var price = parseInt(document.getElementById('price').value);
        var rqty = parseInt(document.getElementById('rqty').value);

        if(rqty>qty)
        {
            document.getElementById('total').value="";
            alert("Req Qty is greater than available Qty");
        }
        else{
            document.getElementById('total').value=rqty*price;
        }
        }
    </script>

</head>
<body>
        <div class="main-content">
            <h1 style="text-align:center">Customer Select Product</h1>
            <h4>{{ msg }}</h4>
            <div class="container" style="margin-top: 60px;">
                <div class="row">
                    <div class="col">
                        <img src="{{url_for('static', filename='images/1.jpg')}}"  width="500px"/>
                    </div>
                    <div class="col">
                        <form id="contact" action="/addtocart"
                              method="post" style="margin-top: 10px;">
                            </h4>
                            <fieldset>
                                {{msg}}
                            </fieldset>
                            <fieldset>
                                <input placeholder="Product Id" type="text" tabindex="1"
                                       name="pid" required style="width:300px" readonly
                                       value="{{data[0]}}"/><br><br>
                            </fieldset>
                            <fieldset>
                                <input placeholder="Product Name" type="text" tabindex="1"
                                       name="pname" required style="width:300px" readonly
                                       value="{{data[1]}}"/><br><br>
                            </fieldset>
                            <fieldset>
                                <input placeholder="Product Type" type="text" tabindex="1"
                                       name="ptype" required style="width:300px"
                                       value="{{data[2]}}" readonly/>
                                <!--<select style="width:300px" name="ptype">
                                    <option>Chair</option>
                                    <option>Sofa</option>
                                    <option>Daining table</option>
                                    <option>Hanging Chair</option>
                                </select>-->
                                <br><br>
                            </fieldset>
                            <fieldset>
                                <input placeholder="Quantity" type="text"
                                       required style="width:300px;"
                                       name="qty" id="qty" maxlength="4"
                                       pattern="^[0-9]{1,4}$"
                                value="{{data[3]}}" readonly/><br><br>
                            </fieldset>
                            <fieldset>
                                <input placeholder="Price" type="text"
                                       required style="width:300px;"
                                       name="price" id="price"
                                       readonly value="{{data[4]}}"/>
                                <br><br>
                            </fieldset>
                            <fieldset>
                                <img src="/static/uploads/{{data[5]}}" width="100px" height="100px"/>
                                <!--<input type="file"
                                       required style="width:300px;"
                                       name="file"/>-->
                                <br><br>
                            </fieldset>
                            <fieldset>
                                <input placeholder="Required Quantity" type="text"
                                       required style="width:300px;"
                                       name="rqty" id="rqty" maxlength="4"
                                       pattern="^[0-9]{1,4}$"
                                onkeyup="calcTotal()"/><br><br>
                            </fieldset>
                            <fieldset>
                                <input placeholder="Total Price" type="text"
                                       required style="width:300px;"
                                       name="total" id="total" readonly/>
                                <br><br>
                            </fieldset>
                            <fieldset>
                                <input type="submit" value="Add to Cart" style="width:200px;height:50px;">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
          <script>
</script>
</body>
</html>
{% endblock %}
