<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Furniture</title>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/furniture.css') }}">-->

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <!-- bootstrap -->
<!-- icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

   <!-- icons -->
  </head>
   <body onbeforeprint="myFUnction()"   >
    <!-- Home -->

    <section id="demo">

    <!-- navbar top -->
    <!--main content  -->
    <div class="main-content">
      <nav class="navbar navbar-expand-md " id="navbar-color">
        <div class="container">


        <!-- Toggler/collapsibe Button -->

        <!-- Navbar links -->

              <a id="nav-link" href="/usermainpage" >Home</a>
            </li>

            <li class="nav-item">
                <a id="nav-link" href="/customerviewproducts" >View Products</a>
            </li>
<li class="nav-item">
                <a id="nav-link" href="/bankdetail" >Add Bank</a>
            </li>
<li class="nav-item">
                <a id="nav-link" href="/viewbankdetail" >View Bankdetail</a>
            </li>

            <li class="nav-item">
              <a id="nav-link" href="/customerviewcart">View Cart</a>
            </li>

              <li class="nav-iteam">
              <a id="nav-link" href="/">Logout</a>
            </li>

            </ul>



    </section>

  <div>
      {% block content %}
      {% endblock %}
  </div>
</body>
</html>
