<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Furniture</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/furniture.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/testinomial.css') }}">
    <style>
      .btnreg{
      
        padding:10px;
        background-color:orange;
        
      }
       
        .card-img-top{
            height:300px;
        }
        
        .card-no-border .card {
            border-color: #d7dfe3;
            border-radius: 4px;
            margin-bottom: 30px;
            -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
        }
        
        .card-body {
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            padding: 1.25rem
        }
        
        .pro-img {
            margin-top: -80px;
            margin-bottom: 20px
        }
        
        .little-profile .pro-img img {
            width: 128px;
            height: 128px;
            -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            border-radius: 100%
        }
        
        html body .m-b-0 {
            margin-bottom: 0px
        }
        
        h3 {
            line-height: 30px;
            font-size: 21px
        }
        
        .btn-rounded.btn-md {
            padding: 12px 35px;
            font-size: 16px
        }
        
        html body .m-t-10 {
            margin-top: 10px
        }
        
        .btn-primary,
        .btn-primary.disabled {
            background: #7460ee;
            border: 1px solid #7460ee;
            -webkit-box-shadow: 0 2px 2px 0 rgba(116, 96, 238, 0.14), 0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
            box-shadow: 0 2px 2px 0 rgba(116, 96, 238, 0.14), 0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
            -webkit-transition: 0.2s ease-in;
            -o-transition: 0.2s ease-in;
            transition: 0.2s ease-in
        }
        
        .btn-rounded {
            border-radius: 60px;
            padding: 7px 18px
        }
        
        .m-t-20 {
            margin-top: 20px
        }
        
        .text-center {
            text-align: center !important
        }
        
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #455a64;
            font-family: "Poppins", sans-serif;
            font-weight: 400
        }
        
        p {
            margin-top: 0;
            margin-bottom: 1rem
        }
    
    
        .flip-box {
          background-color: transparent;
          width: 50%;
          height: 200px;
          border: 1px solid #f1f1f1;
          perspective: 1000px;
        }
        
        .flip-box-inner {
          position: relative;
          width: 100%;
          height: 100%;
          text-align: center;
          transition: transform 0.8s;
          transform-style: preserve-3d;
        }
        
        .flip-box:hover .flip-box-inner {
          transform: rotateY(180deg);
        }
        
        .flip-box-front, .flip-box-back {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
        }
        
        .flip-box-front {
          background-image: url(card1.jpg);
          
          color: black;
        }
        
        .flip-box-back {
          background-image: url(chair1.jpeg);
          color: white;
          transform: rotateY(180deg);
        }
      .dark-mode{
      background-color:black;
      color:white;
      }
      body{

      background-color:white;
      color:black;
      font-size:25px;
      }

        </style>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <!-- bootstrap -->
<!-- icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
   <!-- icons -->
  </head>
  <body onbeforeprint="myFUnction()"   >
    <!-- Home -->

    <section id="demo">

    <!-- navbar top -->
    <!--main content  -->
    <div class="main-content">
      <nav class="navbar navbar-expand-md " id="navbar-color">
        <div class="container">
        
      
        <!-- Toggler/collapsibe Button -->
        
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
                <button onclick="myFunction()" style="padding:5px">Dark Mode</button>
            <li class="nav-item">
              <a id="nav-link" href="/home" >Home</a>
            </li>
            <li class="nav-item">
              <a id="nav-link" href="/service" > Service WE Offer</a>
            </li>

 <li class="nav-item">
              <a id="nav-link" href="/collection" >Collection</a>
            </li>
            <li class="nav-item">
              <a id="nav-link" href="/about">About</a>
            </li>
            
            
            <li class="nav-item">
                <a id="nav-link" href="/location" >Location</a>
            </li>
            
            <li class="nav-iteam">
              <a id="nav-link" href="/help">Help</a>
            </li>

            </ul>

           <a href="/newuser" style="text-decoration: none; color: black;;font-size: 13px; font-weight: bold;color:mossy green;">New User</a>
           <a href="/signin" style="text-decoration: none; color: black;margin-left: 50px;font-size: 13px;font-weight: bold;color:mossy green;">User Sign In</a>
   <a href="/adminsignin" style="text-decoration: none; color: black;margin-left: 50px;font-size: 13px;font-weight: bold;color:mossy green     ;">Admin Sign In</a>
            <div
            class="btn-group ms-5"
            role="group"
            aria-label="Basic mixed styles example">
</div>
        </div>
      </div>
      </nav><br><br><br><br><br><br>
      
      <div class="content">
        <h1>Make Your Home
          <br> Modern Design
        </h1>
        <p>Have a traditional home but love modern? No problem! There are plenty of options for creating that<br> modern house vibe in an older home.</p>
        <div class="btn1"><button><a href="/cart">Shop Now</a></button>
    </div>
  </section>
   
  <div class="container">
    <div class="whatsapp">
      <a href="https://web.whatsapp.com/" style="color: blueviolet;font-size: 60px; position: fixed;bottom: 5px;right: 5px;"><i class="fab fa-whatsapp"></i></a>
    </div>
  </div>
  <div class="container" >
    
    <h3 class="text-center" style="padding-top: 30px;">SERVICES WE OFFER</h3>
    <div class="row" style="margin-top: 50px;">
     <div class="col-md-4 py-3 py-md-0">
      <div class="card">
        <img src="{{url_for('static', filename='images/c1.jpg')}}" />
        <div class="card-body">
           <h5 class="card-title text-center">CUSTOM MENUS</h5>
           <P class="card-text text-center">At MENU, we do not merely design objects. ... and influence we create a sense of community that goes beyond our furniture, lightning and accessories.
           </P>
           
        </div> 
     </div>
    </div>
    
    <div class="col-md-4 py-3 py-md-0">
      <div class="card">
        <img src="{{url_for('static', filename='images/c222.jpg' )}}" />
        <div class="card-body">
           <h5 class="card-title text-center">SMARTEST WAY</h5>
           <P class="card-text">SmartWay of the Carolinas LLC is a family owned Furniture, Appliances & Electronics store located in Charlotte, NC. We offer the best in home Furniture, ...
           </P>
           
        </div> 
      </div>
    </div>
    
    <div class="col-md-4 py-3 py-md-0">
      <div class="card">
       <img src="{{url_for('static', filename='images/c33.jpg')}}" />
        <div class="card-body">
           <h5 class="card-title text-center">USER FRIENDLEY</h5>
           <P class="card-text text-center">its flexible nature allows it to be easily worked and it is widely used for the manufacture of outdoor furniture.
           </P>
           
        </div> 
      </div>
    </div>
  </div>
  </div>
 
  <!--  -->
  <div class="container">
    <div class="row" style="margin-top: 100px;">
      <div class="col-md-4 py-3 py-md-0">
        <div class="card" id="tpc">
          <img src="{{url_for('static', filename='images/card1.jpg')}}" />
          <div class="card-img-overlay">
            <h4 class="card-title">Daining Table</h4>
            <p class="card-text"></p>
            <div class="btn2"><button><a href="  /cart3">View More</a></button></div>
          </div> 
        </div>
      </div>
     <div class="col-md-4 py-3 py-md-0">
        <div class="card" id="tpc" >
          <img src="{{url_for('static', filename='images/card2.jpg')}}" />
          <div class="card-img-overlay">
            <h4 class="card-title">Sofa</h4>
            <p class="card-text"></p>
            <div class="btn2"><button><a href="/cart">View More</a></button></div>
          </div> 
        </div>
      </div>
      <div class="col-md-4 py-3 py-md-0">
        <div class="card" id="tpc">
          <img src="{{url_for('static', filename='images/card3.jpg')}}" />
          <div class="card-img-overlay">
            <h4 class="card-title">Study Desk</h4>
            <p class="card-text"></p>
            <div class="btn2"><button><a href="https://www.google.com/search?q=study+desk++for+furniture&tbm=isch&ved=2ahUKEwi1yond06n-AhX39nMBHbeBA0EQ2-cCegQIABAA&oq=study+desk++for+furniture&gs_lcp=CgNpbWcQAzIGCAAQCBAeOgYIABAHEB46CAgAEAUQBxAeOggIABAIEAcQHlD9BFj8KGDHL2gAcAB4AIABqASIAccRkgELNS42LjEuMS4wLjGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=v2w5ZPXuM_ftz7sPt4OOiAQ">View More</a></button></div>
          </div> 
        </div>
      </div>
    </div>
  </div>
 </section>
<!-- service we offer -->
<section id="demo3">
  <div class="container">
    <h3 class="text-center" style="margin-top: 50px;">TRENDLY PRODUCTS</h3>
    <div  class="row" style="margin-top: 50PX;">
      <div class="col-md-3 py-3 py-md-0">
        <div class="card" id="c">
          <img src="{{url_for('static', filename='images/card4.jpg')}}" />
          <div class="card-body">
            <h3 class="card-title text-center" >Best Sofa</h3>
            <p class="card-text text-center">30000</p>
            <div id="btn3"><button><a href="/cart" target="_blank">Shop Now</a></button></div>
          </div>
        </div>
      </div>
      <div class="col-md-3 py-3 py-md-0">
        <div class="card" id="c">
         <img src="{{url_for('static', filename='images/card5.png')}}" />
          <div class="card-body">
            <h3 class="card-title text-center" >New Sofa</h3>
            <p class="card-text text-center">35000</p>
            <div id="btn3"><button><a href="/cart" target="_blank">Shop Now</a></button></div>
          </div>
        </div>
      </div>
      
      <div class="col-md-3 py-3 py-md-0">
        <div class="card" id="c">
        <img src="{{url_for('static', filename='images/card6.jpg')}}" />
          <div class="card-body">
            <h3 class="card-title text-center" >New Chair</h3>
            <p class="card-text text-center">15500</p>
            <div id="btn3"><button><a href="/Cart2">Shop Now</a></button></div>
          </div>
        </div>
      </div>
      <div class="col-md-3 py-3 py-md-0">
        <div class="card" id="c">
         <img src="{{url_for('static', filename='images/card7.jpg')}}" />
          <div class="card-body">
            <h3 class="card-title text-center" >Best Chair</h3>
            <p class="card-text text-center">17000</p>
            <div id="btn3"><button><a href="/Cart2">Shop Now</a></button></div>
          </div>
        </div>
      </div>
     </div>
     
    <div  class="row" style="margin-top: 50PX;">
      <div class="col-md-3 py-3 py-md-0">
        <div class="card" id="c">
         <img src="{{url_for('static', filename='images/card8.webp')}}" />
          <div class="card-body">
            <h3 class="card-title text-center" >Best daining Table</h3>
            <p class="card-text text-center">20000</p>
            <div id="btn3"><button><a href="/cart3">Shop Now</a></button></div>
          </div>
        </div>
      </div>
      <div class="col-md-3 py-3 py-md-0">
        <div class="card" id="c">
           <img src="{{url_for('static', filename='images/card9.webp')}}" />
          <div class="card-body">
            <h3 class="card-title text-center" >New hanging chair</h3>
            <p class="card-text text-center">18000</p>
            <div id="btn3"><button><a href="/cart4">Shop Now</a></button></div>
          </div>
        </div>
      </div>
      
      <div class="col-md-3 py-3 py-md-0">
        <div class="card" id="c">
             <img src="{{url_for('static', filename='images/card10.webp')}}"  />
          <div class="card-body">
            <h3 class="card-title text-center" >Best Dressing Table</h3>
            <p class="card-text text-center">20000</p>
            <div id="btn3"><button><a href="/cart5">Shop Now</a></button></div>
          </div>
        </div>
      </div>
      <div class="col-md-3 py-3 py-md-0">
        <div class="card" id="c">
           <img src="{{url_for('static', filename='images/card11.jpg')}}" height="290px" />
          <div class="card-body">
            <h3 class="card-title text-center" >TV Stand</h3>
            <p class="card-text text-center">45000</p>
            <div id="btn3"><button><a href="/cart6">Shop Now</a></button></div>
          </div>
        </div>
      </div>
     </div>
  </div>

<div class="container">
<div class="whatsapp">
  <a href="https://web.whatsapp.com/" style="color: blueviolet;font-size: 60px; position: fixed;bottom: 5px;right: 5px;"><i class="fab fa-whatsapp"></i></a>
</div>
</div>
<h1 style="text-align:center"></h1>
<div class="container">
    <h1 class="text-center" style="margin-top: 40px;">ABOUT</h1>
    <div class="row" style="margin-top: 50px;">
      <div class="col-md-6 py-3 py-md-0">
        <div class="card">
            <img src="{{url_for('static', filename='images/about.jpg')}}"  />
        </div>
      </div>
      <div class="col-md-6 py-3 py-md-0 text-justify; text-justify" >
        <p >Furniture refers to movable objects intended to support various human activities such as seating (e.g., stools, chairs, and sofas), eating (tables), storing items, eating and/or working with an item, and sleeping (e.g., beds and hammocks). Furniture is also used to hold objects at a convenient height for work (as horizontal surfaces above the ground, such as tables and desks), or to store things (e.g., cupboards, shelves, and drawers). Furniture can be a product of design and can be considered a form of decorative art. In addition to furniture's functional role, it can serve a symbolic or religious purpose. It can be made from a vast multitude of materials, including metal, plastic, and wood. Furniture can be made using a variety of woodworking joints which often reflects the local culture.
  
          People have been using natural objects, such as tree stumps, rocks and moss, as furniture since the beginning of human civilization and continues today in some households/campsites. Archaeological research shows that from around 30,000 years ago, people started to construct and carve their own furniture, using wood, stone, and animal bones. Early furniture from this period is known from artwork such as a Venus figurine found in Russia, depicting the goddess on a throne. The first surviving extant furniture is in the homes of Skara Brae in Scotland, and includes cupboards, dressers and beds all constructed from stone. Complex construction techniques such as joinery began in the early dynastic period of ancient Egypt. This era saw constructed wooden pieces, including stools and tables, sometimes decorated with valuable metals or ivory. The evolution of furniture design continued in ancient Greece and ancient Rome, with thrones being commonplace as well as the klinai, multipurpose couches used for relaxing, eating, and sleeping.</p>
        <div class="btn4"><button>  <a href="https://www.google.com/search?q=About++furniture&source=lmns&hl=kn&sa=X&ved=2ahUKEwi41K7C1an-AhUW53MBHVooAaoQ_AUoAHoECAEQAA">Read More...</a></button></div>
      </div>
    </div>
  </div><br><br>
  <div class="container" >
  <div class="padding">
    <div class="col-md-5" style="margin-left: 350px;">
        <!-- Column -->
        <div class="card"> <img src="{{url_for('static', filename='images/card5.png')}}"  />
            <div class="card-body little-profile text-center">
                <div class="pro-img"><img src="{{url_for('static', filename='images/WhatsApp Image 2023-06-22 at 9.32.31 PM.jpeg')}}"  /></div>
                <h3 class="m-b-0">Furniture Store   </h3>
                <p>Best Quality &amp; Good Service</p> <a href="javascript:void(0)" class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded" data-abc="true">Follow</a>
                <div class="row text-center m-t-20">
                    <div class="col-lg-4 col-md-4 m-t-20">
                        <h3 class="m-b-0 font-light">10434</h3><small>Photos</small>
                    </div>
                    <div class="col-lg-4 col-md-4 m-t-20">
                        <h3 class="m-b-0 font-light">434K</h3><small>Followers</small>
                    </div>
                    <div class="col-lg-4 col-md-4 m-t-20">
                        <h3 class="m-b-0 font-light">500</h3><small>Following</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
 
  
  <!-- about -->
    <div class="container">
      <div class="whatsapp">
        <a href="https://web.whatsapp.com/" style="color: blueviolet;font-size: 60px; position: fixed;bottom: 5px;right: 5px;"><i class="fab fa-whatsapp"></i></a>
      </div>
    </div>

    <div class="container" style="margin-top: 60px;">
      <div class="row">
        <div class="col">
      <iframe width="500" height="315" src="https://www.youtube.com/embed/Og_OJhN7UdQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="col">
      <iframe width="500" height="315" src="https://www.youtube.com/embed/rCcQeM5oLNw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    </div>
    </div> 
    <!-- about -->
      <div class="container">
        <div class="whatsapp">
          <a href="https://web.whatsapp.com/" style="color: blueviolet;font-size: 60px; position: fixed;bottom: 5px;right: 5px;"><i class="fab fa-whatsapp"></i></a>
        </div>
      </div>
      <br><br><br><br>
      
      <div class="container"style="margin-top: 26px;" > 
        
          <div class="col">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.640481993282!2d77.5520473743009!3d12.994831487322667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3df300000001%3A0x224594d7348781f!2sGayathri%20Furniture%20%26%20Furnishing%20Bangalore%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1685078303349!5m2!1sen!2sin" width="600" height="450" style="border:0;width: 1000px;margin-left:90px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
      </div>
      
      </div>
    </div><br><br>
      <div class="container">
        <div class="whatsapp">
          <a href="https://web.whatsapp.com/" style="color: blueviolet;font-size: 60px; position: fixed;bottom: 5px;right: 5px;"><i class="fab fa-whatsapp"></i></a>
        </div>
      </div>
      <div class="accordion accordion-flush" id="accordionFlushExample" style="margin-top: 30px;">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Buy Wooden Furniture Online to get Incalculable Benefits
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body" onmouseup="style.color='blue'" onmousedown="style.color='red'">A home is incomplete without the fundamental furniture units. No matter how big or small is your apartment, space is not defined until you assemble furniture in it.<br><br>
      
              Wooden Street is here to give you the best experience of online shopping and provide you with the premium quality furniture, which will adorn your abode perfectly.<br><br>
              
             1.  A Wide Array of Furniture for your home: At Wooden Street, you will come across an excellent range of wooden furniture. If you are pondering to get yourself a peculiar interior, then this is the right place for you!! We also have an amazing range of uniquely designed modular furniture for your bedroom, living room, dining room and more. Suit yourself and get the one that meets your requirements and style. In fact, our furniture store also blends modern and traditional style pieces and creates an exquisite and gorgeous "custom-made-order" pieces of furniture for you.<br><br>
              2. A Wooden Furniture Heaven: Got trust issues related to the quality of wood? We’ve got you covered, we deal with only wooden furniture and won't disappoint you with the quality. As every product is made of solid wood like Sheesham and mango which are highly durable and sturdy and will survive the test of the time.<br><br>
              3. Customization Facility: Put your imagination on a piece of paper, and we will make sure to get you the exact same furniture. Start by selecting the material for the foundation, then choose the material of fabric and pattern and color. We have got everything online for furniture, mango and sheesham wood furniture, space saving furniture and polishes (dark, light, natural, mahogany, walnut, honey, etc.), all the colors, fabric (leatherette, velvet, cotton). So, gaga over and book an item of furniture through our site.<br><br>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              Buy Furniture Online at WoodenStreet- India’s Finest One-Stop Destination for All Your Needs
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Getting the wooden furniture online in India, which perfectly blends with your home decor is now easy. Wooden Street provides you with ready-made and customized solid wood furniture online. At WoodenStreet, we are committed to serve our customers the exclusive range in home furniture products like sofa set, coffee tables, wardrobes, dining tables, all crafted from premium-quality solid-wood. Along with this, you can explore our home decor range which includes wall art, photo frames, indoor plants, tableware, glassware, kitchen organizer and many more are just few clicks away from you. We offer you a huge variety of online furniture to choose from. You can browse among various designs, dimensions, colors and finish options, all at your convenience. From modern to traditional styles, contemporary to loft ones, space-saving furniture pieces to huge ones, we provide every type of modern furniture online to match your home needs. Take a pick from the exquisite collection of home furniture or get it customized as per your requirements, all possible at WoodenStreet.
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              How to Shop for Furniture Online in a Smart Way?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Decorating and furnishing the home is an experimental fun way to give your space the personal flair that is required. But it can cost a lot of money if not properly planned. When your ceaseless googling is over at WoodenStreet, it doesn’t mean that you landed with the furniture which is right for you. It’s obvious to get confused by the overwhelming and attractive options that go well in your latest needs without breaking a bank.<br><br>
      
              The first thing to begin while shopping for furniture online is to inspect every room of your home very carefully. Make a checklist of what all furniture is actually required and get a rough idea of the dimensions too. If it is not possible to purchase the entire furniture online altogether, no worries, you can still make the long list and then make a decision.<br><br>
              
              By paying attention to every functionality of the furniture, the space availability factor, mixing well with the existing decor accessories, colors and tone of the room is the next vital aspect to look after. For instance, if you need a chair, then what is the purpose? Like, a recliner chair for relaxing or an ergonomic office chair for working long hours. Another example is either you want a modern sofa cum bed for accommodating more guests over a night or a luxurious corner sofa where space is at a premium. Encapsulating all, when you want to purchase a piece of wooden furniture online, the thumb rule is to select highly functional products which serve multiple purposes.<br><br>
              
              After finalizing this, select the products, which say about the true sense of your personality and aesthetics. Moreover, decide the preliminary budget that you want to invest in for decorating or refurnishing your homes. By understanding all these parameters, WoodenStreet is the best furniture online store in India to grab an incredible shopping experience.
          </div>
        </div>
      </div>
      <!-- accorian -->
      <div class="container" style="margin-top: 70px; position: relative; margin-left: 400px">
      <div class="flip-box">
        <div class="flip-box-inner">
          <div class="flip-box-front"><img src="{{url_for('static', filename='images/c7.jpg')}}" style="width:600px;height:200px" />
          </div>
          <div class="flip-box-back">
           <img src="{{url_for('static', filename='images/sofa4.jpg')}}" style="width:600px;height:200px" />
          </div>
        </div>
      </div>
      </div>
      
    <div class="testimonials-container" style="margin-top: 30px;">
      <h2></h2>

      <div class="testimonial">
        <a href="#"><img src="{{url_for('static', filename='images/grl2.jpg')}}" /></a>
        <p>Purchased a door 20 years ago from Gyathri furniture store. I will recommend everyone to buy furniture from Gyathri furniture store. <br>
          <span>-Chandhana Gwoda</span>
        </p>
        <span class="numbertext">1/3</span>
      </div>

      <div class="testimonial" style="margin-top: 50px;">
        <a href="#"><img src="{{url_for('static', filename='images/grl1.jpeg')}}"  /></a>
        <p>My favourite piece of furniture from Gyathri furniture store is my Sofa. Definitely recommending Gyathri furniture store to my friends and family. <br>
          <span>-Rohini Poojari</span>
        </p>
        <span class="numbertext">2/3</span>
      </div>

      <div class="testimonial">
        <a href="#"><img src="{{url_for('static', filename='images/boy2.jpg')}}" /></a>
        <p>
          We purchased a leather sofa and it is our favorite piece of furniture. From the shopping experience to the product selection and delivery it is a complete amazing experience from Gyathri furniture store.<br>

          <span>-Sanjay Sheety</span>
        </p>
        <span class="numbertext">3/3</span>
      </div>

      <div>
        <a class="prev">
          <i class="fas fa-long-arrow-alt-left"></i>
        </a>
        <a class="next">
          <i class="fas fa-long-arrow-alt-right"></i>
        </a>
      </div>
    </div>

      

      
   </body>
</html>



      <!-- rate this website -->
      <div class="container" style="margin-top: 70px;">
<div class="row">
    <div class="col">
        <h1>Branches </h1>


<select id="mySelect" onchange="myFunction()" style="margin-left:200px;background-color:teal;color:white;padding:7px">
  <option value="Bangalore">Bangalore</option>
  <option value="Chennai">Chennai</option>
  <option value="hyderabad">hyderabad</option>
  <option value="Delhi">Delhi</option>
</select>
    <p id="demo1"></p>

<script>
function myFunction() {
  var x = document.getElementById("mySelect").value;
  document.getElementById("demo1").innerHTML = "You selected: " + x;
}
</script>
    </div>
    <div class="col">
        <h1  onmouseover="style.color='blue'" onmouseout="style.color='black'">Rate This Website? </h1>
        <div class="rating" >
            <input type="radio" id="star5" name="rating" value="5" /><label for="star5"></label>
            <input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
            <input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
            <input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
            <input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label>
        </div>

      </div>

    </div>
</div>
      <div class="container">
        <div class="whatsapp">
          <a href="https://web.whatsapp.com/" style="color: rebeccapurple;font-size: 60px; position: fixed;bottom: 5px;right: 5px;"><i class="fab fa-whatsapp"></i></a>
        </div>
      </div>
      <!-- rate this website -->
        <!-- footer -->
        <footer id="footer" >
          <h1 class="text-center" style="margin-top: 50px;">Furniture</h1>
          <p class="text-center">Thank You For Visting Our Furniture Website</p>
            <div class="icons text-center">


             <a href="https://web.facebook.com/" ><i class="fab fa-facebook"></i></a>
             <a href="https://www.instagram.com/accounts/login/"><i class="fab fa-instagram"></i></a>
             <a href="https://www.google.com/><i class="fab fa-google"></i></a>
             <a href="https://www.skype.com/en/"><i class="fab fa-skype"></i></a>
             <a href="https://twitter.com/i/flow/login?lang=en"><i class="fab fa-twitter"></i></a>
             </div>
             <div class="copyright text-center">
              &copy; Copyright <strong><span>Furniture</span></strong>.All Rights Reserved
            </div>
           <div class="credite text-center">
            Designed By <a href="#">Manasa Coding</a>
           <script src="{{url_for('static', filename='css/testinomial.js')}}"></script>
           </div>
        </footer>

<script>
    function myFunction(){
    var element =document.body;
    element.classList.toggle("dark-mode");
    }
</script>
<script>
function myFUnction() {
  alert("You are about to print this document!");
}
</script>





<script src="{{url_for('static', filename='search.js')}}"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>  
