<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Furniture</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/furniture.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/testinomial.css') }}">
    <style>
    
    
    .flip-box {
      background-color: transparent;
      width: 50%;
      height: 200px;
      border: 1px solid #f1f1f1;
      perspective: 1000px;
    }
    
    .flip-box-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }
    
    .flip-box:hover .flip-box-inner {
      transform: rotateY(180deg);
    }
    
    .flip-box-front, .flip-box-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    
    .flip-box-front {
      background-image: url(card1.jpg);
      
      color: black;
    }
    
    .flip-box-back {
      background-image: url(chair1.jpeg);
      color: white;
      transform: rotateY(180deg);
    }
    </style>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <!-- bootstrap -->
<!-- icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
   <!-- icons -->
  </head>
  <body>
    <nav class="navbar navbar-expand-md " id="navbar-color" style="background-color:orange;">
        <div class="container">
        
      
        <!-- Toggler/collapsibe Button -->
        
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a id="nav-link" href="/home" >Home</a>
            </li>
            <li class="nav-item">
              <a id="nav-link" href="/service" > Service WE Offer</a>
            </li>

            <li class="nav-item">
              <a id="nav-link" href="/about">About</a>
            </li>
            
            <li class="nav-item">
                <a id="nav-link" href="/location" >Location</a>
            </li>
           
            <li class="nav-iteam">
              <a id="nav-link" href="/help">Help</a>
            </li>
          </ul>
        </div>
      </div>
      </nav>
      <div class="accordion accordion-flush" id="accordionFlushExample" style="margin-top: 80px;">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Buy Wooden Furniture Online to get Incalculable Benefits
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body" onmouseup="style.color='blue'" onmousedown="style.color='red'">A home is incomplete without the fundamental furniture units. No matter how big or small is your apartment, space is not defined until you assemble furniture in it.<br><br>
      
              Wooden Street is here to give you the best experience of online shopping and provide you with the premium quality furniture, which will adorn your abode perfectly.<br><br>
              
             1.  A Wide Array of Furniture for your home: At Wooden Street, you will come across an excellent range of wooden furniture. If you are pondering to get yourself a peculiar interior, then this is the right place for you!! We also have an amazing range of uniquely designed modular furniture for your bedroom, living room, dining room and more. Suit yourself and get the one that meets your requirements and style. In fact, our furniture store also blends modern and traditional style pieces and creates an exquisite and gorgeous "custom-made-order" pieces of furniture for you.<br><br>
              2. A Wooden Furniture Heaven: Got trust issues related to the quality of wood? We’ve got you covered, we deal with only wooden furniture and won't disappoint you with the quality. As every product is made of solid wood like Sheesham and mango which are highly durable and sturdy and will survive the test of the time.<br><br>
              3. Customization Facility: Put your imagination on a piece of paper, and we will make sure to get you the exact same furniture. Start by selecting the material for the foundation, then choose the material of fabric and pattern and color. We have got everything online for furniture, mango and sheesham wood furniture, space saving furniture and polishes (dark, light, natural, mahogany, walnut, honey, etc.), all the colors, fabric (leatherette, velvet, cotton). So, gaga over and book an item of furniture through our site.<br><br>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              Buy Furniture Online at WoodenStreet- India’s Finest One-Stop Destination for All Your Needs
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Getting the wooden furniture online in India, which perfectly blends with your home decor is now easy. Wooden Street provides you with ready-made and customized solid wood furniture online. At WoodenStreet, we are committed to serve our customers the exclusive range in home furniture products like sofa set, coffee tables, wardrobes, dining tables, all crafted from premium-quality solid-wood. Along with this, you can explore our home decor range which includes wall art, photo frames, indoor plants, tableware, glassware, kitchen organizer and many more are just few clicks away from you. We offer you a huge variety of online furniture to choose from. You can browse among various designs, dimensions, colors and finish options, all at your convenience. From modern to traditional styles, contemporary to loft ones, space-saving furniture pieces to huge ones, we provide every type of modern furniture online to match your home needs. Take a pick from the exquisite collection of home furniture or get it customized as per your requirements, all possible at WoodenStreet.
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              How to Shop for Furniture Online in a Smart Way?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Decorating and furnishing the home is an experimental fun way to give your space the personal flair that is required. But it can cost a lot of money if not properly planned. When your ceaseless googling is over at WoodenStreet, it doesn’t mean that you landed with the furniture which is right for you. It’s obvious to get confused by the overwhelming and attractive options that go well in your latest needs without breaking a bank.<br><br>
      
              The first thing to begin while shopping for furniture online is to inspect every room of your home very carefully. Make a checklist of what all furniture is actually required and get a rough idea of the dimensions too. If it is not possible to purchase the entire furniture online altogether, no worries, you can still make the long list and then make a decision.<br><br>
              
              By paying attention to every functionality of the furniture, the space availability factor, mixing well with the existing decor accessories, colors and tone of the room is the next vital aspect to look after. For instance, if you need a chair, then what is the purpose? Like, a recliner chair for relaxing or an ergonomic office chair for working long hours. Another example is either you want a modern sofa cum bed for accommodating more guests over a night or a luxurious corner sofa where space is at a premium. Encapsulating all, when you want to purchase a piece of wooden furniture online, the thumb rule is to select highly functional products which serve multiple purposes.<br><br>
              
              After finalizing this, select the products, which say about the true sense of your personality and aesthetics. Moreover, decide the preliminary budget that you want to invest in for decorating or refurnishing your homes. By understanding all these parameters, WoodenStreet is the best furniture online store in India to grab an incredible shopping experience.
          </div>
        </div>
      </div>
      <!-- accorian -->
      <div class="container" style="margin-top: 70px; position: relative; margin-left: 400px">
      <div class="flip-box">
        <div class="flip-box-inner">
          <div class="flip-box-front">
           <img src="{{url_for('static', filename='images/c7.jpg')}}" style="width:600px;height:200px" />
          </div>
          <div class="flip-box-back">
            <img src="{{url_for('static', filename='images/sofa4.jpg')}}" style="width:600px;height:200px" />
          </div>
        </div>
      </div>
      </div>
      <div class="testimonials-container" style="margin-top: 30px;">
      <h2></h2>

      <div class="testimonial">
        <a href="#"><img src="{{url_for('static', filename='images/grl2.jpg')}}" /></a>
        <p>Purchased a door 20 years ago from Gyathri furniture store. I will recommend everyone to buy furniture from Gyathri furniture store. <br>
          <span>-Chandhana Gwoda</span>
        </p>
        <span class="numbertext">1/3</span>
      </div>

      <div class="testimonial" style="margin-top: 50px;">
        <a href="#"><img src="{{url_for('static', filename='images/grl1.jpeg')}}"  /></a>
        <p>My favourite piece of furniture from Gyathri furniture store is my Sofa. Definitely recommending Gyathri furniture store to my friends and family. <br>
          <span>-Rohini Poojari</span>
        </p>
        <span class="numbertext">2/3</span>
      </div>

      <div class="testimonial">
        <a href="#"><img src="{{url_for('static', filename='images/boy2.jpg')}}" /></a>
        <p>
          We purchased a leather sofa and it is our favorite piece of furniture. From the shopping experience to the product selection and delivery it is a complete amazing experience from Gyathri furniture store.<br>

          <span>-Sanjay Sheety</span>
        </p>
        <span class="numbertext">3/3</span>
      </div>
     

      <div>
        <a class="prev">
          <i class="fas fa-long-arrow-alt-left"></i>
        </a>
        <a class="next">
          <i class="fas fa-long-arrow-alt-right"></i>
        </a>
      </div>
    </div>
  </body>
</html>
      
      
      
      <!-- rate this website -->
<div class="container" style="margin-top: 70px;">
<div class="row">
    <div class="col">
        <h1>Branches </h1>


<select id="mySelect" onchange="myFunction()" style="margin-left:200px;background-color:teal;color:white;padding:7px">
  <option value="Bangalore">Bangalore</option>
  <option value="Chennai">Chennai</option>
  <option value="hyderabad">hyderabad</option>
  <option value="Delhi">Delhi</option>
</select>
    <p id="demo"></p>

<script>
function myFunction() {
  var x = document.getElementById("mySelect").value;
  document.getElementById("demo").innerHTML = "You selected: " + x;
}
</script>
    </div>
    <div class="col">
        <h1  onmouseover="style.color='blue'" onmouseout="style.color='black'">Rate This Website? </h1>
        <div class="rating" >
            <input type="radio" id="star5" name="rating" value="5" /><label for="star5"></label>
            <input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
            <input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
            <input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
            <input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label>
        </div>

      </div>

    </div>
</div>
      <div class="container">
        <div class="whatsapp">
          <a href="https://web.whatsapp.com/" style="color: rebeccapurple;font-size: 60px; position: fixed;bottom: 5px;right: 5px;"><i class="fab fa-whatsapp"></i></a>
        </div>
      </div>
      <!-- rate this website -->
        <!-- footer -->
        <footer id="footer" >
          <h1 class="text-center" style="margin-top: 50px;">Furniture</h1>
          <p class="text-center">Thank You For Visting Our Furniture Website</p>
            <div class="icons text-center">
             <a href="https://web.facebook.com/"><i class="fab fa-facebook"></i></a>
             <a href="https://www.instagram.com/accounts/login/"><i class="fab fa-instagram"></i></a>
             <a href="https://www.google.com/"><i class="fab fa-google"></i></a>
             <a href=https://www.skype.com/en/"><i class="fab fa-skype"></i></a>
             <a href="https://twitter.com/i/flow/login?lang=en"><i class="fab fa-twitter"></i></a>
             </div>
             <div class="copyright text-center">
              &copy; Copyright <strong><span>Furniture</span></strong>.All Rights Reserved
            </div>
           <div class="credite text-center">
            Designed By <a href="#">Manasa Coding</a>
           <script src="{{url_for('static', filename='css/testinomial.js')}}"></script>
           </div>
        </footer>
    </body>
    </html>  
