<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Furniture</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/furniture.css') }}">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <!-- bootstrap -->
<!-- icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
   <!-- icons -->
  </head>
  <body>
    <!-- Home -->

    <section id="demo">

    <!-- navbar top -->
    <!--main content  -->
    <div class="main-content">
      <nav class="navbar navbar-expand-md " id="navbar-color" style="background-color:orange;">
        <div class="container">
        
      
        <!-- Toggler/collapsibe Button -->
        
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav" >
            <li class="nav-item" >
              <a id="nav-link" href="/home" >Home</a>
            </li>
            <li class="nav-item">
              <a id="nav-link" href="/service" > Service WE Offer</a>
            </li>

            <li class="nav-item">
              <a id="nav-link" href="/about">About</a>
            </li>
            
            
            <li class="nav-item">
                <a id="nav-link" href="/location" >Location</a>
            </li>
            
            <li class="nav-iteam">
              <a id="nav-link" href="/help">Help</a>
            </li>
            </ul>
            <div
            class="btn-group ms-5"
            role="group"
            aria-label="Basic mixed styles example" >
          
          </div>
        </div>
      </div>
      </nav><br><br>
      
      <div class="content">
        <h1>Make Your Home
          <br> Modern Design
        </h1>
        <p>Have a traditional home but love modern? No problem! There are plenty of options for creating that<br> modern house vibe in an older home.</p>
        <div class="btn1"><button><a href="/cart">Shop Now</a></button>
    </div>
  </section>
   
  <div class="container">
    <div class="whatsapp">
      <a href="https://web.whatsapp.com/" style="color: blueviolet;font-size: 60px; position: fixed;bottom: 5px;right: 5px;"><i class="fab fa-whatsapp"></i></a>
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>  
