<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Furniture</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <!-- bootstrap -->
<!-- icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
   <!-- icons -->
  </head>
  <body>
    <nav class="navbar navbar-expand-md " id="navbar-color">
        <div class="container">
        
      
        <!-- Toggler/collapsibe Button -->
        
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a id="nav-link" href="/home" >Home</a>
            </li>
            <li class="nav-item">
              <a id="nav-link" href="/service" > Service WE Offer</a>
            </li>

            <li class="nav-item">
              <a id="nav-link" href="/about">About</a>
            </li>
            
            
            <li class="nav-item">
                <a id="nav-link" href="/location" >Location</a>
            </li>
           
            <li class="nav-iteam">
              <a id="nav-link" href=" /help">Help</a>
            </li>
          </ul>
        </div>
      </div>
      </nav>
      <h1 style="text-align:center"></h1>
      <div class="container"style="margin-top: 60px;" > 
       
          <div class="col">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.640481993282!2d77.5520473743009!3d12.994831487322667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3df300000001%3A0x224594d7348781f!2sGayathri%20Furniture%20%26%20Furnishing%20Bangalore%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1685078303349!5m2!1sen!2sin" width="1000" height="450" style="border:0;margin-left: 90px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
      </div>
     
    </div>
      <div class="container">
        <div class="whatsapp">
          <a href="https://web.whatsapp.com/" style="color: blueviolet;font-size: 60px; position: fixed;bottom: 5px;right: 5px;"><i class="fab fa-whatsapp"></i></a>
        </div>
      </div>
    </body>
    </html>  
