{% extends 'header.html' %}
{% block content %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Furniture</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/furniture.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/testinomial.css') }}">
    <style>
      .btnreg{
      
        padding:10px;
        background-color:orange;
        
      }
       
        .card-img-top{
            height:300px;
        }
        
        .card-no-border .card {
            border-color: #d7dfe3;
            border-radius: 4px;
            margin-bottom: 30px;
            -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
        }
        
        .card-body {
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            padding: 1.25rem
        }
        
        .pro-img {
            margin-top: -80px;
            margin-bottom: 20px
        }
        
        .little-profile .pro-img img {
            width: 128px;
            height: 128px;
            -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            border-radius: 100%
        }
        
        html body .m-b-0 {
            margin-bottom: 0px
        }
        
        h3 {
            line-height: 30px;
            font-size: 21px
        }
        
        .btn-rounded.btn-md {
            padding: 12px 35px;
            font-size: 16px
        }
        
        html body .m-t-10 {
            margin-top: 10px
        }
        
        .btn-primary,
        .btn-primary.disabled {
            background: #7460ee;
            border: 1px solid #7460ee;
            -webkit-box-shadow: 0 2px 2px 0 rgba(116, 96, 238, 0.14), 0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
            box-shadow: 0 2px 2px 0 rgba(116, 96, 238, 0.14), 0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
            -webkit-transition: 0.2s ease-in;
            -o-transition: 0.2s ease-in;
            transition: 0.2s ease-in
        }
        
        .btn-rounded {
            border-radius: 60px;
            padding: 7px 18px
        }
        
        .m-t-20 {
            margin-top: 20px
        }
        
        .text-center {
            text-align: center !important
        }
        
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #455a64;
            font-family: "Poppins", sans-serif;
            font-weight: 400
        }
        
        p {
            margin-top: 0;
            margin-bottom: 1rem
        }
    
    
        .flip-box {
          background-color: transparent;
          width: 50%;
          height: 200px;
          border: 1px solid #f1f1f1;
          perspective: 1000px;
        }
        
        .flip-box-inner {
          position: relative;
          width: 100%;
          height: 100%;
          text-align: center;
          transition: transform 0.8s;
          transform-style: preserve-3d;
        }
        
        .flip-box:hover .flip-box-inner {
          transform: rotateY(180deg);
        }
        
        .flip-box-front, .flip-box-back {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
        }
        
        .flip-box-front {
          background-image: url(card1.jpg);
          
          color: black;
        }
        
        .flip-box-back {
          background-image: url(chair1.jpeg);
          color: white;
          transform: rotateY(180deg);
        }
      .dark-mode{
      background-color:black;
      color:white;
      }
      body{

      background-color:white;
      color:black;
      font-size:25px;
      }

        </style>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <!-- bootstrap -->
<!-- icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
   <!-- icons -->
  </head>
 <body>
</body>
</html>  
{% endblock %}
