<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Furniture</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <!-- bootstrap -->
<!-- icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
   <!-- icons -->

          <script type="text/javascript">

function checkform()
{
var pwdpattern = /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/;
var pwd = document.getElementById('pwd').value;
   if (!pwdpattern.test(pwd)) {
    alert("Password is not valid, should have 8 to 15 characters which contain at least one lowercase letter, one uppercase letter, one numeric digit, and one special character");
    return false;
  }
  else {
    return true
  }
}

    </script>


  </head>
  <body>

    <div class="main-content">

      <div class="container"style="margin-top: 60px;" >
        <div class="row">
          <div class="col">
        <img src="{{url_for('static', filename='images/1.jpg')}}"   width="400px" height="400px"/>
      </div>
      <div class="col">
        <form id="contact" action="/changepwd" method="post" style="margin-top: 10px;">
            <h3>Enter New Password Page</h3><br>
          <fieldset>
            <input placeholder="Your Email Id" type="text" tabindex="1" required style="width:3cap; height:30px;"
                   onblur="myFunction()" maxlength="50px" size="20px"
            name="email" id="email" value="{{email}}" required readonly/><br><br>
          </fieldset>

                      <fieldset>
            <input placeholder="New Password" type="password" tabindex="1" required style="width:3cap; height:30px;"
                   maxlength="20" size="20px"
                   pattern="^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$"
            name="pwd" id="pwd"
            /><br><br>
          </fieldset>



            <fieldset>
    <input type="submit" value="Change Password"
    style="text-decoration:none;color:black;background-color:brown;margin-right:100px;padding:6px"">
 </fieldset>

        </form>
      </div>
      </div>
    </div>
     <script>
function myFunction() {
  let x = document.getElementById("fname");
  x.value = x.value.toUpperCase();
}

      </script>
        <script>
function myFunction(x) {
  x.style.background = "yellow";
}
</script>

    </body>
    </html>
