<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Furniture</title>
    <link rel="stylesheet" href="/static/css/contact.css">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
            integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
            integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
            crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <!-- icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- icons -->

    <script type="text/javascript">
      function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
    	alert("Please enter only numbers");
        return false;
    }
    return true;
}
function isLetters(e, t)
{
   if (window.event)
   {
      var charCode = window.event.keyCode;
   }
   else if (e)
   {
      var charCode = e.which;
   }
   else { return true; }
   if ((charCode > 64 && charCode < 91) || charCode==32 ||
   (charCode > 96 && charCode < 123))
       return true;
   else
   {
      alert("Please enter only alphabets");
      return false;
   }
}
function checkform()
{
var phpattern=new RegExp("^[6789][0-9]{9}");
var emailpattern=new RegExp("^[a-z0-9]+@[a-z]+\.[a-z]{2,3}$");
var pwdpattern = /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/;

//var pwdpattern=new RegExp("^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$");

var phoneNumber = document.getElementById('phnum').value;
var email = document.getElementById('email').value;
var pwd = document.getElementById('pwd').value;
//alert(phoneNumber);
   if (!pwdpattern.test(pwd)) {
    alert("Password is not valid, should have 8 to 15 characters which contain at least one lowercase letter, one uppercase letter, one numeric digit, and one special character");
    return false;
  }
 else if (!phpattern.test(phoneNumber)) {
    alert("Phone number is not valid, should be 10 digits & starts with 6,7,8,9");
    return false;
  }
  else if (!emailpattern.test(email)) {
    alert("EmailId is not valid, should have @ symbol & .co/.com extension");
    return false;
  }
  else {
    return true
  }
}

    </script>

</head>
<body>
        <div class="main-content">
            <h1 style="text-align:center">New User</h1>
            <h4>{{ msg }}</h4>
            <div class="container" style="margin-top: 60px;">
                <div class="row">
                    <div class="col">
                        <img src="{{url_for('static', filename='images/1.jpg')}}"  width="500px"/>
                    </div>
                    <div class="col">
                        <form id="contact" action="/newuser" method="post" style="margin-top: 10px;"
                              onsubmit="return checkform()" >
                            
                            </h4>
                            <fieldset>
                                <input placeholder="Your First Name" type="text" tabindex="1"
                                       name="fname" required style="width:300px"
                                       onkeypress="return isLetters(event,this);"/><br><br>
                            </fieldset>
                            <fieldset>
                                <input placeholder="Your Last Name" type="text" tabindex="1"
                                       name="lname" required style="width:300px";
                                       onkeypress="return isLetters(event,this);"/><br><br>
                            </fieldset>
                            <fieldset>
                                <input placeholder="Your Login Name" type="text" tabindex="1" required style="width:300px;"
                                       name="uname"/><br><br>
                            </fieldset>
                            <fieldset>
                                <input placeholder="Your Password" type="password" tabindex="1" required
                                       name="pwd" id="pwd" style="width:300px; height:30px;"/><br><br>
                            </fieldset>
                            <fieldset>
                                <input placeholder="Your Phone Num" type="text" tabindex="1" required
                                       name="phnum" id="phnum" maxlength="10" style="width:300px"
                                       onkeypress="return isNumber(event,this);"/><br><br>
                            </fieldset>
                            <fieldset>
                                <input placeholder="Your Email Address" type="email" tabindex="2" required style="width:300px"
                                       name="email" id="email"/><br><br>
                            </fieldset>
                            <fieldset>
            <textarea placeholder="Address" tabindex="5" required style="width:300px"
                      name="address"/></textarea><br><br>
                            </fieldset>
                            <fieldset>
                                <input type="submit" value="Create New User">
                            </fieldset>

                        </form>
                    </div>
                </div>
            </div>
          <script>

</script>
</body>
</html>
