<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Furniture</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/furniture.css') }}">
  
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <!-- bootstrap -->
<!-- icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
   <!-- icons -->
  </head>
  <body onload="myFunction()">
    <nav class="navbar navbar-expand-md " id="navbar-color"style="background-color:orange;">
        <div class="container">
        
      
        <!-- Toggler/collapsibe Button -->
        
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar" ">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a id="nav-link" href="/home" >Home</a>
            </li>
            <li class="nav-item">
              <a id="nav-link" href="/service" > Service WE Offer</a>
            </li>

            <li class="nav-item">
              <a id="nav-link" href="/about">About</a>
            </li>
            
           
            <li class="nav-item">
                <a id="nav-link" href="/location" >Location</a>
            </li>
            
            <li class="nav-iteam">
              <a id="nav-link" href="/help">Help</a>
            </li>
          </ul>
          
        </div>
      </div>
      </nav>
      <section id="demo2">
        <div class="container" >
    
          <h3 class="text-center" style="padding-top: 30px;">SERVICES WE OFFER</h3>
          <div class="row" style="margin-top: 50px;">
           <div class="col-md-4 py-3 py-md-0">
            <div class="card">
             <img src="{{url_for('static', filename='images/c1.jpg')}}" />
              <div class="card-body">
                 <h5 class="card-title text-center">CUSTOM MENUS</h5>
                 <P class="card-text text-center">At MENU, we do not merely design objects. ... and influence we create a sense of community that goes beyond our furniture, lightning and accessories.
                 </P>
               
              </div> 
           </div>
          </div>
          
          <div class="col-md-4 py-3 py-md-0">
            <div class="card">
             <img src="{{url_for('static', filename='images/c222.jpg')}}" />
              <div class="card-body">
                 <h5 class="card-title text-center">SMARTEST WAY</h5>
                 <P class="card-text">SmartWay of the Carolinas LLC is a family owned Furniture, Appliances & Electronics store located in Charlotte, NC. We offer the best in home Furniture, ...
                 </P>
                 
              </div> 
            </div>
          </div>
          
          <div class="col-md-4 py-3 py-md-0">
            <div class="card">
             <img src="{{url_for('static', filename='images/c33.jpg')}}" />
              <div class="card-body">
                 <h5 class="card-title text-center">USER FRIENDLEY</h5>
                 <P class="card-text text-center">its flexible nature allows it to be easily worked and it is widely used for the manufacture of outdoor furniture.
                 </P>
                
              </div> 
            </div>
          </div>
        </div>
        </div>
       
        <!--  -->
        <div class="container">
          <div class="row" style="margin-top: 100px;">
            <div class="col-md-4 py-3 py-md-0">
              <div class="card" id="tpc">
               <img src="{{url_for('static', filename='images/card1.jpg')}}" />
                <div class="card-img-overlay">
                  <h4 class="card-title">Daining Table</h4>
                  <p class="card-text"></p>
                  <div class="btn2"><button><a href="/cart3">View More</a></button></div>
                </div> 
              </div>
            </div>
           <div class="col-md-4 py-3 py-md-0">
              <div class="card" id="tpc" >
                <img src="{{url_for('static', filename='images/card2.jpg')}}" />
                <div class="card-img-overlay">
                  <h4 class="card-title">Sofa</h4>
                  <p class="card-text"></p>
                  <div class="btn2"><button><a href="/cart">View More</a></button></div>
                </div> 
              </div>
            </div>
            <div class="col-md-4 py-3 py-md-0">
              <div class="card" id="tpc">
               <img src="{{url_for('static', filename='images/card3.jpg')}}" />
                <div class="card-img-overlay">
                  <h4 class="card-title">Study Desk</h4>
                  <p class="card-text"></p>
                  <div class="btn2"><button><a href="https://www.google.com/search?q=study+desk++for+furniture&tbm=isch&ved=2ahUKEwi1yond06n-AhX39nMBHbeBA0EQ2-cCegQIABAA&oq=study+desk++for+furniture&gs_lcp=CgNpbWcQAzIGCAAQCBAeOgYIABAHEB46CAgAEAUQBxAeOggIABAIEAcQHlD9BFj8KGDHL2gAcAB4AIABqASIAccRkgELNS42LjEuMS4wLjGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=v2w5ZPXuM_ftz7sPt4OOiAQ">View More</a></button></div>
                </div> 
              </div>
            </div>
          </div>
        </div>
       </section>
      <!-- service we offer -->
      <section id="demo3">
        <div class="container">
          <h3 class="text-center" style="margin-top: 50px;">TRENDLY PRODUCTS</h3>
          <div  class="row" style="margin-top: 50PX;">
            <div class="col-md-3 py-3 py-md-0">
              <div class="card" id="c">
               <img src="{{url_for('static', filename='images/card4.jpg')}}" />
                <div class="card-body">
                  <h3 class="card-title text-center" >Best Sofa</h3>
                  <p class="card-text text-center">30000</p>
                  <div id="btn3"><button><a href="/cart" target="_blank">Shop Now</a></button></div>
                </div>
              </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
              <div class="card" id="c">
                <img src="{{url_for('static', filename='images/card5.png')}}" />
                <div class="card-body">
                  <h3 class="card-title text-center" >New Sofa</h3>
                  <p class="card-text text-center">35000</p>
                  <div id="btn3"><button><a href="/cart" target="_blank">Shop Now</a></button></div>
                </div>
              </div>
            </div>
            
            <div class="col-md-3 py-3 py-md-0">
              <div class="card" id="c">
                <img src="{{url_for('static', filename='images/card6.jpg')}}" />
                <div class="card-body">
                  <h3 class="card-title text-center" >New Chair</h3>
                  <p class="card-text text-center">15500</p>
                  <div id="btn3"><button><a href="/Cart2">Shop Now</a></button></div>
                </div>
              </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
              <div class="card" id="c">
                <img src="{{url_for('static', filename='images/card7.jpg')}}" />
                <div class="card-body">
                  <h3 class="card-title text-center" >Best Chair</h3>
                  <p class="card-text text-center">17000</p>
                  <div id="btn3"><button><a href="/Cart2">Shop Now</a></button></div>
                </div>
              </div>
            </div>
           </div>
           
          <div  class="row" style="margin-top: 50PX;">
            <div class="col-md-3 py-3 py-md-0">
              <div class="card" id="c">
               <img src="{{url_for('static', filename='images/card8.webp')}}" />
                <div class="card-body">
                  <h3 class="card-title text-center" >Best daining Table</h3>
                  <p class="card-text text-center">20000</p>
                  <div id="btn3"><button><a href="/cart3">Shop Now</a></button></div>
                </div>
              </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
              <div class="card" id="c">
                <img src="{{url_for('static', filename='images/card9.webp')}}" />
                <div class="card-body">
                  <h3 class="card-title text-center" >New hanging chair</h3>
                  <p class="card-text text-center">18000</p>
                  <div id="btn3"><button><a href="/cart4">Shop Now</a></button></div>
                </div>
              </div>
            </div>
            
            <div class="col-md-3 py-3 py-md-0">
              <div class="card" id="c">
                <img src="{{url_for('static', filename='images/card10.webp')}}" />
                <div class="card-body">
                  <h3 class="card-title text-center" >Best Dressing Table</h3>
                  <p class="card-text text-center">20000</p>
                  <div id="btn3"><button><a href="/cart5">Shop Now</a></button></div>
                </div>
              </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
              <div class="card" id="c">
               <img src="{{url_for('static', filename='images/card11.jpg')}}"height="290px" />
                <div class="card-body">
                  <h3 class="card-title text-center" >TV Stand</h3>
                  <p class="card-text text-center">45000</p>
                  <div id="btn3"><button><a href="/cart6">Shop Now</a></button></div>
                </div>
              </div>
            </div>
           </div>
        </div>
     
    <div class="container">
      <div class="whatsapp">
        <a href="https://web.whatsapp.com/" style="color: blueviolet;font-size: 60px; position: fixed;bottom: 5px;right: 5px;"><i class="fab fa-whatsapp"></i></a>
      </div>
    </div>
<script>
    alert("Page is loaded")
</script>
    <script src="{{url_for('static', filename='search.js')}}"></script>
    
      
      
    </body>
</html>  
