<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Furniture</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <!-- bootstrap -->
<!-- icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
   <!-- icons -->
  </head>
  <body>

    <div class="main-content">

      <div class="container"style="margin-top: 60px;" >
        <div class="row">
          <div class="col">
        <img src="{{url_for('static', filename='images/1.jpg')}}"   width="400px" height="400px"/>
      </div>
      <div class="col">
        <form id="contact" action="/userlogincheck" method="post" style="margin-top: 10px;">
          <h4>
              {{msg}}
          </h4>
            <h3>User Login Page</h3><br>
          <fieldset>
            <input placeholder="Your Login Name" type="text" tabindex="1" required
                   style="width:200px; height:30px;"  onblur="myFunction()" maxlength="10px" size="20px"
            name="uname" id="fname"/><br><br>
          </fieldset>
            <fieldset>
            <input placeholder="Your Password" type="password" tabindex="1" required
            name="pwd" style="width:200px; height:30px;" onfocus="myFunction(this)" ><br><br>
          </fieldset>
<fieldset>
    <input type="submit" value="Sign In"
    style="text-decoration:none;color:black;background-color:brown;margin-right:100px;padding:6px"">
    <!--<input type="submit" value="Forgot Password"
    style="text-decoration:none;color:black;background-color:brown;margin-right:100px;padding:6px">-->
 </fieldset>
            <fieldset>
            <a href="/forgotpassword"
               style="text-decoration:none;color:black;background-color:brown;margin-right:100px">
                Forgot Password</a>
 </fieldset>

        </form>
      </div>
      </div>
    </div>
     <script>
function myFunction() {
  let x = document.getElementById("uname");
  x.value = x.value.toUpperCase();
}

      </script>
        <script>
function myFunction(x) {
  x.style.background = "yellow";
}
</script>

    </body>
    </html>
