<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Successfully</title>
    <style type="text/css">
        a
        {
        border:1px solid black;
        text-decoration:none;
        color:black;
        background-color:brown;
        padding:10px;
        font-size:20px;
        width:500px;
        margin:25px;
        box-sizing:border-box;
        }
    </style>
</head>
<body>
<marquee direction="right" height="100px">
<h1  >Successfully Logged  In </h1>
    Welcome {{fullname}}!!
</marquee>
<a href="/logout" style="">Log Out</a>
</body>
</html>

